body{
    background-color: aqua;
    
}
h1{
    color: orchid;
    
}
p{
    color: blue;
}
hr{
    border-style: none;
    border-top-style: dotted;
    width: 100%;
    length: 40%
}

.one:hover{
    background-color: darkgoldenrod;
}
    
.sec:hover{
    background-color: lightslategrey;
    
}
.third{
    width: 100px;

}
.forth{
    background-color: aliceblue;
}
video{
    color: brown;
}